{% extends "app/index.html" %}

{% block title %}
    Add Event
{% endblock title %}

{% block content %}
    {% if success %}
        <div class="alert alert-success alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon fa fa-check"></i> Success!</h4>
            Added to Database.
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-warning alert-dismissible">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon fa fa-warning"></i>Invalid Input</h4>
            Warning!
        </div>
    {% endif %}



    <form method="POST" class="box box-primary-form">
        <h1 style="padding-left: 15px">Add Event Form</h1>
        <div style="padding-left: 15px; padding-bottom: 15px">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" value="submit" class="save btn btn-default">Save</button>
        </div>
    </form>
{% endblock %}