{% extends "app/index.html" %}

{% block title %}
    Add Student
{% endblock title %}

{% block content %}
    <div class="row" style="padding-top: 20px; margin: 0 3% 0 3%">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Student List</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-hover dataTable" id="example2" role="grid"
                                   aria-describedby="example2_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Id Number
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">
                                        Name
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">
                                        Year Level
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in lists %}
                                    {% if list.is_active == True and forloop.counter|divisibleby:2 %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">{{ list.id_number }}</td>
                                            <td> {{ list.last_name }}, {{ list.first_name }} {{ list.middle_initial }},</td>
                                            <td>{{ list.year_level }}</td>
                                            <td>
                                                <div class="row">
                                                    <button class="btn btn-success" type="button">Manage</button>
                                                    <button class="btn btn-danger" type="button">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr role="row" class="even">
                                            <td class="sorting_1">{{ list.id_number }}</td>
                                            <td> {{ list.last_name }}, {{ list.first_name }} {{ list.middle_initial }},</td>
                                            <td>{{ list.year_level }}</td>
                                            <td>
                                                <div class="row">
                                                    <button class="btn btn-success" type="button">Manage</button>
                                                    <button class="btn btn-danger" type="button">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    {% if lists.has_previous %}
                                        <li class="paginate_button previous disabled" id="example2_previous"><a
                                                href="?page={{ lists.previous_page_number }}"
                                                aria-controls="example2"
                                                data-dt-idx="0"
                                                tabindex="0">Previous</a>
                                        </li>
                                    {% endif %}

                                    <li class="paginate_button active"><a href="#" aria-controls="example2"
                                                                          data-dt-idx="1"
                                                                          tabindex="0">{{ lists.number }}</a></li>

                                    {% if lists.has_next %}
                                        <li class="paginate_button next" id="example2_next"><a
                                                href="?page={{ lists.next_page_number }}"
                                                aria-controls="example2"
                                                data-dt-idx="7" tabindex="0">Next</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
{% endblock %}